/*VARIABLES*/
$green1: #37413e;
$green2: #687c71;
$green3: #8a9c90;
$green4: #abbcaf;
$beige: #eae1cc;
$paleblue: #9ccbc4;
$errorred: #e7195a;
$defaultblue: #1aac83;

$font1: "Montserrat", sans-serif;
$font2: "Cabin", sans-serif;

/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,600;0,700;1,400&family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/*LAYOUT*/
body {
  margin: 0;
  font-family: "Poppins";
}

.App,
html {
  background-color: $beige !important ;
}

h1,
h2 {
  font-family: $font1;
  font-weight: 700;
}

.default-button {
  background-color: $green2;
  color: white;
  margin: auto;
  border-radius: 20px;
  width: 100px;
  border: 0;
  padding: 10px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/*HOMEPAGE*/
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

/*NAVBAR*/
nav {
  display: flex;
  align-items: center;

  a {
    margin-left: 10px;
  }

  button {
    background: #fff;
    color: $defaultblue;
    border: 2px solid $defaultblue;
    padding: 6px 10px;
    border-radius: 4px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1em;
  }
}

/*HEADER*/
header {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    color: #333;
    text-decoration: none;
  }
}

/*LOG IN PAGE*/
/*AND SOME STUDENT PAGE*/
.Login,
.submit-code,
.sign-up {
  background-color: $paleblue;
  margin: auto;
  width: 50%;
  max-width: 300px;
  height: 300px;
  padding: 50px;
  border-radius: 50px;

  font-family: $font2;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ::placeholder {
    color: white;
    font-family: $font2;
    text-align: center;
  }

  input {
    background-color: $green1;
    border-radius: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: white;
    font-family: $font2;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
}

/*STUDENT PAGE*/
.submit-code {
  height: fit-content;

  h2 {
    margin-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  .Login,
  .submit-code {
    width: 100vw;
    margin: 0;
    height: fit-content;
  }
}

/*Chrome auto-fill fixes*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $green1 inset !important;
  box-shadow: 0 0 0 30px $green1 inset !important;
  border: none;
  font-family: $font2;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  padding-left: 20px;
  font-family: $font2 !important;
}

input:-webkit-autofill::first-line,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-family: $font2 !important;
  border: none;
}

/*TABS*/
[label] .tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  // margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  font-family: $font2;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.tab-list {
  display: flex;
  justify-content: left;
  margin-bottom: 0;
}

ol {
  padding-inline-start: 0;
}

.default-tab {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 500px;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab1 {
  background-color: $green1 !important;
}

.tab3 {
  background-color: $green3 !important;
}

.module-picker {
  background-color: $beige;
  border-radius: 25px;
  padding: 25px 50px;
  font-family: $font2;
  text-align: center;
  width: 200px;
  height: 300px;

  .module-selector,
  .week-selector {
    padding: 10px 0px;
  }

  .generated-code {
    margin-top: 10px;
    padding: 10px 0px;
    font-size: xx-large;
    background: $green3;
  }
}

.tab2 {
  background-color: $green2 !important;
}

.module-info {
  display: flex;
  font-family: $font2;
  overflow: auto;

  .module-list {
    overflow-y: scroll;
    height: 55vh;
  }

  .individual-module {
    background-color: $beige;
    border-bottom: black 1px solid;
    margin: 0;
    padding: 20px;
    position: relative;

    h3 {
      // margin: 0 0 10px 0;
      max-width: 75%;
    }

    .MiniPieChart {
      position: relative;
    }
  }

  .attendance-pie {
    width: 350px;
    height: 55vh;
    margin: 10px;
    background-color: $beige;
    display: flex;
    border-radius: 20px;
    border: $beige 10px solid;
  }

  .individual-module:first-child {
    border-radius: 20px 20px 0 0;
  }

  .individual-module:last-child {
    border-radius: 0 0 20px 20px;
  }
}

.students-info {
  display: flex;
  font-family: $font2;
  overflow: auto;

  .students-list {
    overflow-y: scroll;
    height: 55vh;
  }

  .students-in-module {
    background-color: $beige;
    border-bottom: black 1px solid;
    margin: 0;
    padding: 20px;
    position: relative;
  }

  .attendance-pie {
    width: 350px;
    height: 55vh;
    margin: 10px;
    background-color: $beige;
    display: flex;
    border-radius: 20px;
    border: $beige 10px solid;
  }

  .students-in-module:first-child {
    border-radius: 20px 20px 0 0;
  }

  .students-in-module:last-child {
    border-radius: 0 0 20px 20px;
  }
}

@media only screen and (min-width: 801px) {
  .module-info,
  .students-info {
    display: flex;
    font-family: $font2;
    width: 95%;

    .module-list,
    .students-list {
      flex: 1;
      max-width: 1000px;
      width: 75%;
      margin: 10px;
      padding-bottom: 20px;
    }
  }

  .attendance-pie-mobile {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  .attendance-pie {
    display: none !important;
  }

  .attendance-pie-mobile {
    margin: 10px 0;
    background: $beige;
    border-radius: 20px;
    border: $beige 5px solid;
  }

  .module-list,
  .students-list {
    width: 85vw;
    margin-top: 20px;
    border-radius: 20px;
  }

  .module-info {
    display: block;
  }

  .students-info {
    display: block;
  }

  .week-selector-container {
    display: flex;
    justify-content: center;
    width: inherit;
  }

  .week-selector-item {
    padding: 0 20px;
  }
}

/*ERRORS*/
div.error {
  background: #ffefef;
  border-radius: 20px;
  border: 1px solid $errorred;
  color: $errorred;
  margin: 20px 30px 0 40px;
  padding: 10px;
  text-align: center;
}
