#box1
{
    margin: 0 auto;
    width: 100px;
    width: 50%; 
    height: 50%;
    position: relative;
    background-color: #EAE1CC;
    border-radius: 10px;
    top: 200px;
}

#box2
{
    margin: 0 auto;
    width: 100px;
    width: 40%; 
    height: 40%;
    position: relative;
    background-color: #9CCBC4;
    border-radius: 10px;
    top: 200px;
}

#box-xs{
    background-color: #37413E;
    margin: 0 auto;
    width: 50%; 
    height: 30%;
    position: relative;
    border-radius: 10px;
    top:50px;
}

#box-login
{
    margin: 0 auto;
    width: 100px;
    width: 40%; 
    height: 60%;
    position: relative;
    background-color: #9CCBC4;
    border-radius: 10px;
    top: 200px;
}

.w3-front{
    z-index: 12;
}

.boxtitle{
    text-align: center;
    font-family: 'Montserrat';
    position: relative;
    font-weight:bold;
    top: 20px;
}

.boxtitle2{
    text-align: center;
    font-family: 'Montserrat';
    position: relative;
    font-weight:bold;
    right:145px;
    top: 120px;
}

.boxcontent{
    text-align: center;
    color:#EAE1CC;
    font-family: 'Montserrat';
    position: relative;
    font-weight:500;
    top: 40px;
}

#box-p-info{
    background-color: #37413E;
    margin: 0 auto;
    width: 50%; 
    height: 10%;
    position: relative;
    border-radius: 10px;
    top:120px;
}

.box-p-content{
    text-align: center;
    color:#EAE1CC;
    font-family: 'Montserrat';
    position: relative;
    font-weight:500;
    top: 20px;
}

#submit{
    background-color: 687C71;
    color: #EAE1CC;
    font-family: 'Montserrat';
    width:30%;
    height:10%;
    border-radius:10px;
    position: relative;
    align-self: center;
    left:270px;
    top:150px;
}

#logbutton{
    background-color: 687C71;
    color: #EAE1CC;
    font-family: 'Montserrat';
    width:30%;
    height:10%;
    border-radius:10px;
    position: relative;
    align-self: center;
    left:270px;
    top:200px;
}

#sign-link{
    position: relative;
    top:220px;
    left:340px;
}